/**************************************************** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/**************************************************** Navigation ***********/
Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px 0px;
}

/* Style du logo ***********/
Nav img {
    width: 100px;
    height: 30px;
}

/* Nav disposition***********/
Nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

/* Style des li ***********/
Nav li {
    list-style: none;
    padding: 10px 15px;
    border-top: 2px solid transparent;
    transition: 0.2s;
}

/* Style des li au survol ***********/
Nav li:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/**************************************************** Search Bar ***********/

/* Ne pas afficher l'icone recherche sur PC*/
.search-bar .icon-search .icon-loop {
    display: none;
}

.search-bar {
    margin: 30px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    width: 300px;
    box-sizing: border-box;
}

.search-bar .localisation {
    display: flex;
    align-items: center;
    padding: 18px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search-bar .localisation i {
    color: black;
    font-size: 15px;
}

.search-bar search {
    display: flex;
}

/* à l'écriture */
.search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 0px 0px 0px 15px;
    font-weight: bold;
    font-size: 16px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

/* bouton recherche */
.search-bar input[type="submit"] {
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 15px 15px;
    color: white;
    background-color: #0065FC;
    font-size: 16px;
    font-weight: bold;
}

/* bouton recherche au survol */
.search-bar input[type="submit"]:hover {
    cursor: pointer;
    background-color: #0051c7;
}

/**************************************************** Filters ***********/
.filters {
    width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 15px 15px 0px;
    gap: 15px;
}

.underFilters {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    gap: 15px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
}

.underFilters i {
    font-size: 20px;
}

.underFilters:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

/**************************************************** Info ***********/
.info {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 15px 0;
}

.info i {
    font-size: 15px;
    margin-right: 15px;
    border: solid 1px #f2f2f2;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
}

/**************************************************** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*************************************************** Hebergements Marseille ***********/
.hebergementsMarseille {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
}

.hebergementsMarseille-title {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-left: 10px;
}

.cardMarseille {
    width: 230px;
    height: 230px;
    border-radius: 30px;
    background-color: white;
    margin: 10px;
}


.hebergementsMarseille img {
    width: 220px;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardMarseille h3,
.cardMarseille p {
    padding: 0px 0px 0px 10px;
}

.cardMarseille .card-rating {
    margin-left: 10px;
}

.cardMarseille:hover {
    cursor: pointer;
}

/************************************************** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**************************************************** Activités à Marseille ********/
.activites {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.activites .activite-title {
    margin-top: 50px;
    width: 100%;
}

.activites .card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: -5px;
    height: 400px;
}

.activites h4 {
    padding-left: 15px;
}



/**************************************************** Footer ****************/
.footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    box-sizing: border-box;
}

/* Alignement et largeur des colonnes */
.footer-column {
    flex: 1;
    max-width: 30%;
}

/* Titres (h3) */
.footer-column h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #000000;
}

/* Listes d'éléments */
.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 12px;
}

/* Liens du footer */
.footer-column a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.footer-column a:hover {
    text-decoration: underline;
}



/***************************************** Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
    }

    /* Titre filtre par dessus qui prends toute la ligne */
    .filters .filtersTitle {
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergementsMarseille {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        width: 100%;
        gap: 10px;
    }

    .activites .card {
        display: flex;
        width: 200px;
        height: 320px;
    }

    .activites img {
        height: 250px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    /***** inversion pour les hebergements */
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .filters .filtersTitle,
    header .header-title,
    header p {
        padding-left: 10px;
    }

    Nav {
        flex-wrap: wrap;
    }

    /* img */
    Nav div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    Nav ul {
        width: 100%;
        padding: 0px;
        gap: 0px;
    }

    Nav li {
        width: 100%;
        flex: 1;
        text-align: center;
        list-style: none;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
        transition: 0.2s;
    }

    Nav li:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        box-sizing: border-box;
    }

    /* Masquer le texte "Rechercher" sur mobile */
    .search-bar .icon-search .icon-complet {
        display: none;
    }

    /* Afficher l'icône loupe sur mobile (elle était masquée dans votre code actuel) */
    .search-bar .icon-search .icon-loop {
        width: 50px;
        height: 50px;
        font-size: 14px;
        background-color: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        border-radius: 15px 15px;
        box-shadow: 4px 4px 4px 4px rgba(187, 187, 187, 0.5);
    }

    .search-bar .icon-search .icon-loop i {
        color: white;
        font-size: 15px;
    }

    /* bouton recherche au survol */
    .search-bar .icon-search .icon-loop:hover {
        cursor: pointer;
        background-color: #0051c7;
    }

    .filters {
        width: 100%;
    }

    .filters .underFilters {
        width: 125px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .populaires-cards {
        display: block;
    }

    .cardMarseille {
        display: block;
        width: 100%;
    }

    .hebergements-and-populaires .hebergementsMarseille {
        background-color: white;
    }

    .hebergementsMarseille img {
        width: 100%;
        height: 110px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activites {
        /* Les éléments sont les uns sous les autres */
        flex-direction: column;
        /* Centre horizontalement */
        align-items: center;
        /* Centre verticalement */
        justify-content: center;
        gap: 0px;


    }

    .activites .activite-title {
        width: 300px;
    }

    .activites .card {
        width: 300px;
        height: 200px;
        margin: 10px;
    }

    .activites img {
        width: auto;
        height: 150px;
    }


    .footer {
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
        margin-left: 0px;
        box-sizing: border-box;
    }

    .footer-column {
        max-width: 100%;
    }
}